
 <!DOCTYPE html>
 <html lang="ja">
 <link href="style3.css" rel="stylesheet">
 
 <head>
     <header>
         <span id="view_time"></span>
         <script type="text/javascript">
             document.getElementById("view_time").innerHTML = getNow();
                     
             function getNow() {
                     var now = new Date();
                     var year = now.getFullYear();
                     var mon = now.getMonth()+1; //１を足すこと
                     var day = now.getDate();
                     var hour = now.getHours();
                     var min = now.getMinutes();
                     var sec = now.getSeconds();
                     //出力用
                     var s = year + "年" + mon + "月" + day + "日" + hour + "時" + min + "分" + sec + "秒"; 
                     return s;
                 }
         </script>    
     </header>
 </head>
 
 <title>外科症例入力</title>
     
 <body>
     <div>
         <p>
             <h1>外科症例入力画面</h1>
         </p>
        
         <ul class="box1">
             <li><a href="btn-1">新規</a></li>
             <li><a href="btn-2">検索</a></li>
             <li><a href="btn-3">全表示</a></li>
             <li><a href="btn-4">削除</a></li>
             <li><a href="btn-5">エクセル書き出し</a></li>
             <li><a href="btn-6">エクセル取込</a></li>
             <li><a href="btn-7">入力</a></li>
             <li><a href="btn-8">一覧</a></li>
             <li><a href="btn-9">MENU</a></li>
         </ul>
         <%= form_tag("/cancer/create") do %>
         <table border="1" name="a" width="104%" height="40%">
         
             <body>
                 <tr>
                     <th>年</th>
                     <td><span class="required">※</span><input type="text" size="25" name="register_year" value="<%= @user.register_year%>"><input type="reset" value="×"></td>
                     <th>症例番号</th>
                     <td><span class="required">※</span><input type="text" size="25" name="record_n" value="<%= @user.record_n%>"><input type="reset" value="×"></td>
                     <th>連結番号</th>
                     <td><span class="required">※</span><input type="text" size="70" name="linking_no" value="<%= @user.linking_no%>"><input type="reset" value="×"></td>

                 </tr>
                 <tr>
                     <th>登録施設名</th>
                     <td colspan="3"><span class="required">※</span><input type="text" size="70" name="register_hp" value="<%=@user.register_hp%>"><input type="reset" value="×"></td>
                     <th>診療科科名</th>
                     <td colspan="3"><span class="required">※</span><input type="text" size="70" name="clinical_dp" value="<%@user.clinical_dp%>"><input type="reset" value="×"></td>
                 </tr>
             </body>
         </table>
 
         <table border="1" name="b" width="104%" height="40%">
             <body>
                 <tr>
                     <th colspan="2">患者氏名</th>
                     <td colspan="2"><span class="required">※</span><input type="text" size="10" name="name" value="<%= @user.name%>" ><input type="reset" value="×"></td>
                     <th colspan="2">性</th>
                     <td colspan="2"><span class="required">※</span>M<input type="radio" name="mw" value="man">F<input type="radio" name="mw" value="woman">不明<input type="radio" name="sex" value="unknown"></td>
                     <th colspan="2">ID番号</th>
                     <td colspan="2"><span class="required">※</span><input type="text" size="10" name="id_no" value="<%=@user.id_no%>"><input type="reset" value="×"></td>
                     <th colspan="1">生年月日</th>
                     <td colspan="3"><span class="required" >※</span><input type="date"name="birth" value="<%= @user.birth%>" ></td>
                 </tr>
                 <tr>
                     <th colspan="2">治療開始<br>年月日</th>
                     <td colspan="2"><span class="required">※</span><input type="date" size="10" name="treat_startday" value="<%=@user.treat_startday%>"><input type="reset" value="×"></td>
                     <th colspan="2">手術年月日</th>
                     <td colspan="2"><span class="required">※</span><input type="date" name="surg_date" value="<%=@user.surg_date%>"></td>
                     <th colspan="2">手術時年齢</th>
                     <td colspan="2"><span class="required">※</span><input type="text" size="10" name="surg_age" value="<%=@user.surg_age%>"><input type="reset" value="×"></td>
                     <th colspan="1">複数再発症例</th>
                     <td colspan="3"><span class="required">※</span><input type="text" size="10" name="recu_registers" value="<%=@user.recu_registers%>" ><input type="reset" value="×"></td>
                 </tr>
                 <tr>
                     <th colspan="2">生死・死因</th>
                     <td colspan="2">
                         <span class="required">※</span>
                     　  <select name="life_and_death" value="<%=@user.life_and_death%>">
                             <option value="#"></option>
                             <option value="A">A 生存中</option>
                             <option value="D">D 死亡</option>
     　                  </select>
                 　      <select name="cause_of_death" value="<%=@user.cause_of_death%>">
                             <option value="#"></option>
                             <option value="G">G 原死因</option>
                             <option value="C">C 他癌死</option>
                             <option value="O">O 他病死</option>
                             <option value="Z">Z 手術関連</option>
                             <option value="XX">XX 不明</option>
                   　    </select>
                     </td>
                     <th colspan="2">再発</th>
                     <td colspan="2">
                       　<span class="required">※</span>
                       　<select name="recu" value="<%=@user.recu%>">
                             <option value="#"></option>
                             <option value="Y">あり</option>
                             <option value="N">なし</option>
                             <option value="XX">不明</option>
                   　    </select>
         　          </td>
                     <th colspan="2">再発種類<br>(再発ありの場合)</th>
                     <td colspan="2">
                 　      <span class="required">※</span>
                 　      <select name="recu_type" value="<%=@user.recu_type%>">
                             <option value="#"></option>
                             <option value="H">H 血行再発(肝・肺・骨)</option>
                             <option value="L">L 局所再発</option>
                             <option value="N">N リンパ節再発</option>
                             <option value="P">P 腹膜</option>
                             <option value="XX">XX 不明</option>
     　                  </select>
                     </td> 
                     <th colspan="1">再発年月日<br>(再発ありの場合)</th>
                     <td colspan="3"><span class="required">※</span><input type="date" size="10" name="recu_date" value="<%=@user.recu_date%>"><input type="reset" value="×"></td>
                     </td>
               　</tr>
             　  <tr>
                     <th colspan="2">最終生存<br>確認日</th>
                     <td><span class="required">※</span><input type="date" size="10" name="last_survdate" value="<%=@user.last_survdate%>"><input type="reset" value="×"></td>
                     <th colspan="3">生存期間</th>
                     <td><span class="required"></span><input type="text" size="10" name="surv_date" value="<%=@user.surv_date%>"><input type="reset" value="×"></td>
                     <th>日数</th>
                     <td colspan="2"><span class="required"></span><input type="text" size="5" name="surv_days" value="<%=@user.surv_days%>">ヶ月<input type="reset" value="×"></td>
                     <th>生依存月数</th>
                     <td><span class="required"></span><input type="text" size="10" name="surv_month_year" value="<%=@user.surv_month_year%>"><input type="reset" value="×"></td>
                     <th colspan="2">転帰時年齢</th>
                     <td><span class="required"></span><input type="text" size="10" name="outcome_age" value="<%=@user.outcome_age%>"><input type="reset" value="×"></td>
 　              </tr>
               　<tr>
                     <th colspan="2">疾患</th>
                     <td colspan="2">
                         <span class="required">※</span>
                         <select name="disease" value="<%=@user.disease%>">
                             <option value="#"></option>
                             <option value="P">P 初発胃癌</option>
                             <option value="E">E 初発胃癌(ESD後)</option>
                             <option value="R">R 残胃癌</option>
                             <option value="G">G GIST</option>
                             <option value="L">L 悪性リンパ腫</option>
                             <option value="O">O その他の悪性腫瘍</option>
                             <option value="XX">XX 不明</option>
     　                  </select>
                     </td>
                     <th colspan="2">胃癌の個数</th>
                     <td colspan="2"><span class="required">※</span><input type="text" size="10" name="stomach_cancers" value="<%=@user.stomach_cancers%>"><input type="reset" value="×"></td>
                     <th colspan="2">非上皮性腫瘍_分類</th>
                     <td colspan="2">
                         <span class="required">※</span>    
                       　<select name="non_eptumor" value="<%=@user.non_eptumor%>">
                             <option value="#"></option>
                             <option value="R1">GISTの場合 R1 超低リスク</option>
                             <option value="R2">GISTの場合 R2 低リスク</option>
                             <option value="R3">GISTの場合 R3 中間リスク</option>
                             <option value="R4">GISTの場合 R4 高リスク</option>
                             <option value="B">悪性リンパ腫の場合 B cell リンパ腫</option>
                             <option value="T">悪性リンパ腫の場合 T cell リンパ腫</option>
                             <option value="XX">その他</option>
     　                  </select>
                     </td>
                     <th colspan="2">その他の悪性腫瘍名</th>
                     <td colspan="2">
                         <span class="required">※</span>    
                       　<select name="other_malitumor" value="<%=@user.other_malitumor%>">
                             <option value="#"></option>
                             <option value="A">神経性腫瘍</option>
                             <option value="B">平滑筋性腫瘍</option>
                 　      </select>
                     </td>
             　  </tr>
             　  <tr>
               <th colspan="2">初回胃切除病変</th>
                     <td colspan="2">
                         <span class="required">※</span>    
                         <select name="ft_grt_lesion" value="<%=@user.ft_grt_lesion%>">
                             <option value="#"></option>
                             <option value="B">B 良性病変</option>
                             <option value="M">M 悪性病変</option>
                             <option value="XX">XX 不明</option> 
                         </select>      
                     </td>
                     <th colspan="2">初回胃切除からの期間</th>
                     <td colspan="10"><span class="required">※</span><input type="text" size="100" name="ft_grt_period" value="<%=@user.ft_grt_period%>"><input type="reset" value="×"></td>
                    
                     <th colspan="2">残胃の癌の存在部位</th>
                     <td colspan="2">
                         <span class="required">※</span>    
                         <select name="residual_gascan" value="<%=@user.residual_gascan%>">
                             <option value="#"></option>
                             <option value="A">A 断端吻合部</option>
                             <option value="S">S 断端縫合部</option>
                             <option value="O">O 非断端部</option> 
                             <option value="T">T 残胃全体</option> 
                             <option value="E">E 食道</option> 
                             <option value="D">D 十二指腸</option> 
                             <option value="J">J 空腸</option> 
                         </select>
                         </td>
                     </tr>
                 <tr>
                     <th colspan="2">除菌療法</th>
                     <td colspan="14"><span class="required">※</span><input type="text" size="160" name="erathera" value="<%=@user.erathera%>"><input type="reset" value="×"></td>
                 </tr>
                 <tr>
                     <th colspan="2">化学療法</th>
                     <th colspan="2">術前</th>
                     <td colspan="3"><span class="required">※</span><input type="text" size="10" name="chemo_pr" value="<%=@user.chemo_pr%>"><input type="reset" value="×"></td>
                     <th colspan="2">術前化療日</th>
                     <td colspan="3"><span class="required">※</span><input type="date" size="10" name="pr_treatday" value="<%=@user.pr_treatday%>"><input type="reset" value="×"></td>
                     <th colspan="2">術中</th>
                     <td colspan="3"><span class="required">※</span><input type="text" size="10" name="chemo_pe" value="<%=@user.chemo_pe%>"><input type="reset" value="×"></td>
                     <th colspan="2">術後</th>
                     <td colspan="2"><span class="required">※</span><input type="text" size="10" name="chemo_po" value="<%=@user.chemo_po%>"><input type="reset" value="×"></td>
                     <th colspan="2">術前化療日</th>
                     <td colspan="3"><span class="required">※</span><input type="date" size="10" name="po_treatday"value="<%=@user.po_treatday%>"><input type="reset" value="×"></td>
                 </tr>
                 <tr>
                     <th colspan="2">免疫療法</th>
                     <td colspan="14"><span class="required">※</span><input type="text" size="80" name="lmmuthera" value="<%=@user.lmmuthera%>"><input type="reset" value="×"></td>
                     <th colspan="2">放射線治療開始日</th>
                     <td colspan="14"><span class="required">※</span><input type="date" size="80" name="lmmuthera_startday" value="<%=@user.lmmuthera_startday%>"><input type="reset" value="×"></td>

                 </tr>
                 <tr>
                     <th colspan="2">放射線療法</th>
                     <td colspan="14"><span class="required">※</span><input type="text" size="80" name="radithera" value="<%=@user.radithera%>"><input type="reset" value="×"></td>
                     <th colspan="2">放射線治療開始日</th>
                     <td colspan="14"><span class="required">※</span><input type="date" size="80" name="radithera_startday" value="<%=@user.radithera_startday%>"><input type="reset" value="×"></td>
                 </tr>
             </body>
         </table>
 
         <table border="1" name="c" width="104%" height="40%">
             <body>
               　<tr>
                     <th colspan="7">手術</th>
                 </tr>
                 <tr>
                     <th>占居部位</th>
                     <td colspan="6">
                         <select name="lotlesion1" value="<%=@user.lotlesion1%>">
                             <option value="#"></option>
                             <option value="U">U 胃上部</option>
                             <option value="M">M 胃中部</option>
                             <option value="L">L 胃下部</option>
                             <option value="T">T 胃全体</option>
                             <option value="E">E 食道</option>
                             <option value="D">D 十二指腸</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="lotlesion2" value="<%=@user.lotlesion2%>">
                             <option value="#"></option>
                             <option value="U">U 胃上部</option>
                             <option value="M">M 胃中部</option>
                             <option value="L">L 胃下部</option>
                             <option value="T">T 胃全体</option>
                             <option value="E">E 食道</option>
                             <option value="D">D 十二指腸</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="lotlesion3" value="<%=@user.lotlesion3%>">
                             <option value="#"></option>
                             <option value="U">U 胃上部</option>
                             <option value="M">M 胃中部</option>
                             <option value="L">L 胃下部</option>
                             <option value="T">T 胃全体</option>
                             <option value="E">E 食道</option>
                             <option value="D">D 十二指腸</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         ▶占居部位1・占居部位2・占居部位3(3領域区分を浸潤順位に従って入力)
                     </td>
                 </tr>
                 <tr>
                     <th>占居部位周在性(断面区分)</th>
                     <td colspan="2">
                         <select name="lotlesion_cir" value="<%=@user.lotlesion_cir%>">
                             <option value="#"></option>
                             <option value="L">L 小弯</option>
                             <option value="G">G 大弯</option>
                             <option value="A">A 全壁</option>
                             <option value="P">P 後壁</option>
                             <option value="C">C 全周</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                     <th>最大腫瘍径</th>
                     <td colspan="3"><input type="text" name="max_tumordia" value="<%=@user.max_tumordia%>"><input type="reset" value="×"></td>
                 </tr>
                 <tr>
                     <th>リンパ節郭清</th>
                     <td>
                         <select name="lym_dene" value="<%=@user.lym_dene%>">
                             <option value="#"></option>
                             <option value="0">D0</option>
                             <option value="1">D1</option>
                             <option value="1+">D1+</option>
                             <option value="2">D2</option>
                             <option value="2+">D2+</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                     <th colspan="2">手術の到達方法(手術における到達法種類)</th>
                     <td>
                         <select name="surg_reachingmethod" value="<%=@user.surg_reachingmethod%>">
                             <option value="#"></option>
                             <option value="A">A 開腹のみ</option>
                             <option value="C">C 開胸開腹(連続)</option>
                             <option value="N">N 開胸開腹(非連続)</option>
                             <option value="D">D 横隔膜切開非開胸</option>
                             <option value="S">S 胸骨縦切開</option>
                             <option value="L">L 腹腔鏡・腹腔鏡補助</option>
                             <option value="O">O その他</option>
                             <option value="Z">Z 非手術</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                     <th>手術の種類</th>
                     <td>
                         <select name="surg_type" value="<%=@user.surg_type%>">
                             <option value="#"></option>
                             <option value="DG">DG 幽門側胃切除術</option>
                             <option value="TG">TG 胃全摘術</option>
                             <option value="PG">PG 噴門側胃切除術</option>
                             <option value="PPG">PPG 幽門保存胃切除術</option>
                             <option value="LR">LR 胃局所切除術</option>
                             <option value="SG">SG 胃分節切除術</option>
                             <option value="MR">MR 胃粘膜切除術・ポリペクトミー</option>
                             <option value="AN">AN 吻合部</option>
                             <option value="ST">ST 胃瘻・腸瘻造設術</option>
                             <option value="EL">EL 試験開腹(単開腹)術</option>
                             <option value="OT">OT その他の手術</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <th>合併切除臓器</th>
                     <td colspan="6">
                         <select name="cro_1" value="<%=@user.cro_1%>">
                             <option value="#"></option>
                             <option value="N">N 合併切除なし</option>
                             <option value="P">P 膵尾側</option>
                             <option value="S">S 脾</option>
                             <option value="C">C 横行結腸</option>
                             <option value="M">M 横行結腸間膜</option>
                             <option value="D">D 横隔膜</option>
                             <option value="E">E 胸部食道</option>
                             <option value="H">H 肝</option>
                             <option value="G">G 胆嚢</option>
                             <option value="A">A 副腎</option>
                             <option value="K">K 腎</option>
                             <option value="J">J 小腸</option>
                             <option value="W">W 腹壁</option>
                             <option value="R">R 卵巣</option>
                             <option value="V">V 門脈</option>
                             <option value="Y">Y Appleby手術</option>
                             <option value="Z">Z 膵頭十二指腸切除</option>
                             <option value="O">O その他</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="cro_2" value="<%=@user.cro_2%>">
                             <option value="#"></option>
                             <option value="N">N 合併切除なし</option>
                             <option value="P">P 膵尾側</option>
                             <option value="S">S 脾</option>
                             <option value="C">C 横行結腸</option>
                             <option value="M">M 横行結腸間膜</option>
                             <option value="D">D 横隔膜</option>
                             <option value="E">E 胸部食道</option>
                             <option value="H">H 肝</option>
                             <option value="G">G 胆嚢</option>
                             <option value="A">A 副腎</option>
                             <option value="K">K 腎</option>
                             <option value="J">J 小腸</option>
                             <option value="W">W 腹壁</option>
                             <option value="R">R 卵巣</option>
                             <option value="V">V 門脈</option>
                             <option value="Y">Y Appleby手術</option>
                             <option value="Z">Z 膵頭十二指腸切除</option>
                             <option value="O">O その他</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="cro_3" value="<%=@user.cro_3%>">
                             <option value="#"></option>
                             <option value="N">N 合併切除なし</option>
                             <option value="P">P 膵尾側</option>
                             <option value="S">S 脾</option>
                             <option value="C">C 横行結腸</option>
                             <option value="M">M 横行結腸間膜</option>
                             <option value="D">D 横隔膜</option>
                             <option value="E">E 胸部食道</option>
                             <option value="H">H 肝</option>
                             <option value="G">G 胆嚢</option>
                             <option value="A">A 副腎</option>
                             <option value="K">K 腎</option>
                             <option value="J">J 小腸</option>
                             <option value="W">W 腹壁</option>
                             <option value="R">R 卵巣</option>
                             <option value="V">V 門脈</option>
                             <option value="Y">Y Appleby手術</option>
                             <option value="Z">Z 膵頭十二指腸切除</option>
                             <option value="O">O その他</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="cro_4" value="<%=@user.cro_4%>">
                             <option value="#"></option>
                             <option value="N">N 合併切除なし</option>
                             <option value="P">P 膵尾側</option>
                             <option value="S">S 脾</option>
                             <option value="C">C 横行結腸</option>
                             <option value="M">M 横行結腸間膜</option>
                             <option value="D">D 横隔膜</option>
                             <option value="E">E 胸部食道</option>
                             <option value="H">H 肝</option>
                             <option value="G">G 胆嚢</option>
                             <option value="A">A 副腎</option>
                             <option value="K">K 腎</option>
                             <option value="J">J 小腸</option>
                             <option value="W">W 腹壁</option>
                             <option value="R">R 卵巣</option>
                             <option value="V">V 門脈</option>
                             <option value="Y">Y Appleby手術</option>
                             <option value="Z">Z 膵頭十二指腸切除</option>
                             <option value="O">O その他</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         ▶合併切除臓器は4つまで入力可能
                     </td>
                 </tr>
                 <tr>
                     <th>再建術式</th>
                     <td colspan="6">
                         <select name="recon" value="<%=@user.recon%>">
                             <option value="#"></option>
                             <option value="B1">B1 Billroth Ⅰ 法</option>
                             <option value="B2">B2 Billroth Ⅱ 法</option>
                             <option value="RY">RY Roux-en-Y 法</option>
                             <option value="IP">IP 空腸間置法</option>
                             <option value="EG">EG 食道残胃吻合</option>
                             <option value="PP">PP 幽門保存</option>
                             <option value="DT">DT double tract 法</option>
                             <option value="OT">OT その他の再建法</option>
                             <option value="Z">Z 非切除</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                 </tr>
             </body>
         </table>
 
         <table border="1" name="d" width="104%" height="40%">
             <body>
                 <tr>
                     <th colspan="7">病理所見</th>
                 </tr>
                 <tr>
                     <th>細胞型分類(主な組織型を1つ入力)</th>
                     <td>
                         <select name="tissuetp_group" value="<%=@user.tissuetp_group%>">
                             <option value="#"></option>
                             <option value="PAP">PAP 乳頭腺癌</option>
                             <option value="TUB1">TUB1 高分化型管状腺癌</option>
                             <option value="TUB2">TUB2 中分化型管状腺癌</option>
                             <option value="POR1">POR1 充実型低分化腺癌</option>
                             <option value="POR2">POR2 非充実型低分化腺癌</option>
                             <option value="SIG">SIG 印環細胞癌</option>
                             <option value="MUC">MUC 粘液癌</option>
                             <option value="CND">CND カルチノイド腫瘍(Carcinoid tumor)</option>
                             <option value="ECC">ECC 内分泌細胞癌</option>
                             <option value="CLS">CLS リンパ球浸潤癌</option>
                             <option value="HC">HC 肝様腺癌</option>
                             <option value="ASQ">ASQ 腺扁平上皮癌(Adenosquamous carcinoma)</option>
                             <option value="SCC">SCC 扁平上皮癌(Squamous cell carcinoma)</option>
                             <option value="UC">UC 未分化癌</option>
                             <option value="MIS">MIS その他の癌(Miscellaneous carcinoma)</option>
                             <option value="OTH">OTH その他</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                     <th>リンパ管侵襲</th>
                     <td>
                         <select name="lym_invasion" value="<%=@user.lym_invasion%>">
                             <option value="#"></option>
                             <option value="0">0 ly0</option>
                             <option value="1">1 ly1</option>
                             <option value="2">2 ly2</option>
                             <option value="3">3 ly3</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                     <th colspan="2">静脈侵襲</th>
                     <td>
                         <select name="veno_invasion" value="<%=@user.veno_invasion%>">
                             <option value="#"></option>
                             <option value="0">0 v0</option>
                             <option value="1">1 v1</option>
                             <option value="2">2 v2</option>
                             <option value="3">3 v3</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <th>深達度･病理(病理所見の深達度)</th>
                     <td colspan="2">
                         <select name="palo_depth" value="<%=@user.palo_depth%>">
                             <option value="#"></option>
                             <option value="T0">T0 癌がない</option>
                             <option value="T1a">T1a M</option>
                             <option value="T1b">T1b SM(SM1,SM2を含む)</option>
                             <option value="T2">T2 MP</option>
                             <option value="T3">T3 SS</option>
                             <option value="T4a">T4a SE</option>
                             <option value="T4b">T4b SI</option>
                             <option value="TX">TX 不明</option>
                         </select>
                     </td>
                     <th>腹腔細胞診</th>
                     <td colspan="3">
                         <select name="peri_cld" value="<%=@user.peri_cld%>">
                             <option value="#"></option>
                             <option value="0">0 CY0(癌細胞陰性)</option>
                             <option value="1">1 CY1(癌細胞陽性)</option>
                             <option value="X">X CYX(施行せず)</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <th>リンパ節転移個数</th>
                     <td><input type="text" size="10" name="no_lymnode_meta" value="<%=@user.no_lymnode_meta%>"><input type="reset" value="×"></td>
                     <th>リンパ節郭清個数</th>
                     <td><input type="text" size="5" name="no_lymdene" value="<%=@user.no_lymdene%>"><input type="reset" value="×"></td>
                     <th colspan="2">病理N(病理所見のリンパ節転移の程度)</th>
                     <td>
                         <select name="pathology_n" value="<%=@user.pathology_n%>">
                             <option value="#"></option>
                             <option value="N0">N0 領域リンパ節に転移を認めない</option>
                             <option value="N1">N1 領域リンパ節に1~2個の転移を認める</option>
                             <option value="N2">N2 領域リンパ節に3~6個の転移を認める</option>
                             <option value="N3a">N3a 領域リンパ節に7~15個の転移を認める</option>
                             <option value="N3b">N3b 領域リンパ節に16個以上の転移を認める</option>
                             <option value="NX">NX 領域リンパ節の有無が不明である</option>
                         </select>
                     </td>
                 </tr>
             </body>
         </table>
 
         <table border="1" name="e" width="104%" height="40%">
             <body>
                 <tr>
                     <th colspan="7">総合所見</th>
                 </tr>
                 <tr>
                     <th>総合肉眼型(総合所見の肉眼型)</th>
                     <td>
                         <select name="gene_mascotype" value="<%=@user.gene_mascotype%>">
                             <option value="#"></option>
                             <option value="1E">1E 0Ⅰ型</option>
                             <option value="2A">2A 0Ⅱa型</option>
                             <option value="2B">2B 0Ⅱb型</option>
                             <option value="2C">2C 0Ⅱc型</option>
                             <option value="3E">3E 0Ⅲ型</option>
                             <option value="B1">B1 1型</option>
                             <option value="B2">B2 2型</option>
                             <option value="B3">B3 3型</option>
                             <option value="B4">B4 4型</option>
                             <option value="B5">B5 5型(分類不能)</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                     <th colspan="3">0型亜分類(総合所見が複合型の表在型である場合に入力)</th>
                     <td colspan="2">
                         <select name="tp0_subgroup" value="<%=@user.tp0_subgroup%>">
                             <option value="#"></option>
                             <option value="1E">1E 0Ⅰ型</option>
                             <option value="2A">2A 0Ⅱa型</option>
                             <option value="2B">2B 0Ⅱb型</option>
                             <option value="2C">2C 0Ⅱc型</option>
                             <option value="3E">3E 0Ⅲ型</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <th>深達度･総合(総合所見の深達度)</th>
                     <td colspan="2">
                         <select name="gene_depth" value="<%=@user.gene_depth%>">
                             <option value="#"></option>
                             <option value="T0">T0 癌がない</option>
                             <option value="T1a">T1a M</option>
                             <option value="T1b">T1b SM(SM1,SM2を含む)</option>
                             <option value="T2">T2 MP</option>
                             <option value="T3">T3 SS</option>
                             <option value="T4a">T4a SE</option>
                             <option value="T4b">T4b SI</option>
                             <option value="TX">TX 不明</option>
                         </select>
                         ▶確実なT4にもかかわらず、合併切除を行わなかったために"SE"と診断された場合は"SI"を入力
                     </td>
                     <th colspan="3">SM亜分類(総合深達度でT1bの場合)(T1bの場合のみチェック対象)</th>
                     <td>
                         <select name="sm_subgroup" value="<%=@user.sm_subgroup%>">
                             <option value="#"></option>
                             <option value="SM1">SM1</option>
                             <option value="SM2">SM2</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <th>T4臓器(総合深達度でT4bの場合)<br>(T4bの場合のみチェック対象)</th>
                     <td colspan="6">
                         <select name="t4_organ1" value="<%=@user.t4_organ1%>">
                             <option value="#"></option>
                             <option value="H">H 肝</option>
                             <option value="P">P 膵</option>
                             <option value="C">C 横行結腸</option>
                             <option value="S">S 脾</option>
                             <option value="D">D 横隔膜</option>
                             <option value="W">W 腹壁</option>
                             <option value="A">A 副腎</option>
                             <option value="K">K 腎</option>
                             <option value="J">J 小腸</option>
                             <option value="RS">RS 後腹膜腔</option>
                             <option value="M">M 横行結腸間膜</option>
                             <option value="O">O その他</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="t4_organ2" value="<%=@user.t4_organ2%>">
                             <option value="#"></option>
                             <option value="H">H 肝</option>
                             <option value="P">P 膵</option>
                             <option value="C">C 横行結腸</option>
                             <option value="S">S 脾</option>
                             <option value="D">D 横隔膜</option>
                             <option value="W">W 腹壁</option>
                             <option value="A">A 副腎</option>
                             <option value="K">K 腎</option>
                             <option value="J">J 小腸</option>
                             <option value="RS">RS 後腹膜腔</option>
                             <option value="M">M 横行結腸間膜</option>
                             <option value="O">O その他</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="t4_organ3" value="<%=@user.t4_organ3%>">
                             <option value="#"></option>
                             <option value="H">H 肝</option>
                             <option value="P">P 膵</option>
                             <option value="C">C 横行結腸</option>
                             <option value="S">S 脾</option>
                             <option value="D">D 横隔膜</option>
                             <option value="W">W 腹壁</option>
                             <option value="A">A 副腎</option>
                             <option value="K">K 腎</option>
                             <option value="J">J 小腸</option>
                             <option value="RS">RS 後腹膜腔</option>
                             <option value="M">M 横行結腸間膜</option>
                             <option value="O">O その他</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <th>総合N(総合所見のリンパ節転移の有無)</th>
                     <td colspan="6">
                         <select name="gene_n" value="<%=@user.gene_n%>">
                             <option value="#"></option>
                             <option value="N0">N0 領域リンパ節に転移を認めない</option>
                             <option value="N1">N1 領域リンパ節に1~2個の転移を認める</option>
                             <option value="N2">N2 領域リンパ節に3~6個の転移を認める</option>
                             <option value="N3a">N3a 領域リンパ節に7~15個の転移を認める</option>
                             <option value="N3b">N3b 領域リンパ節に16個以上の転移を認める</option>
                             <option value="NX">NX 領域リンパ節の有無が不明である</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <th>肝転移H<br>(総合所見の肝転移の有無)</th>
                     <td>
                         <select name="livermeta_h" value="<%=@user.livermeta_h%>">
                             <option value="#"></option>
                             <option value="0">0 fH0</option>
                             <option value="1">1 fH1</option>
                             <option value="X">X fHX(不明)</option>
                         </select>
                     </td>
                     <th>腹腔転移P</th>
                     <td colspan="4">
                         <select name="perimeta_p" value="<%=@user.perimeta_p%>">
                             <option value="#"></option>
                             <option value="0">0 fP0</option>
                             <option value="1">1 fP1</option>
                             <option value="X">X fPX(不明)</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <th rowspan="2">遠隔転移M</th>
                     <td rowspan="2">
                         <select name="remote_meta" value="<%=@user.remote_meta%>">
                             <option value="#"></option>
                             <option value="0">0 fM0</option>
                             <option value="1">1 fM1</option>
                             <option value="X">X fMX(不明)</option>
                         </select>
                     </td>
                     <th>遠隔転移部位<br>(fM1の場合のみチェック対象)</th>
                     <td colspan="3">
                         <select name="remote_metapart1" value="<%=@user.remote_metapart1%>">
                             <option value="#"></option>
                             <option value="N">N リンパ節(LYM)</option>
                             <option value="S">S 皮膚(SKI)</option>
                             <option value="L">L 肺(PUL)</option>
                             <option value="B">B 骨髄(MAR)</option>
                             <option value="K">K 骨(OSS)</option>
                             <option value="P">P 胸膜(PLE)</option>
                             <option value="H">H 脳(BRA)</option>
                             <option value="M">M 髄膜(MEN)</option>
                             <option value="HEP">HEP 肝転移</option>
                             <option value="A">A 副腎転移(ADR)</option>
                             <option value="CY">CY 腹腔洗浄細胞診(cy+)</option>
                             <option value="PER">PER 腹膜転移</option>
                             <option value="O">O その他(OTH)</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="remote_metapart2" value="<%=@user.remote_metapart2%>">
                             <option value="#"></option>
                             <option value="N">N リンパ節(LYM)</option>
                             <option value="S">S 皮膚(SKI)</option>
                             <option value="L">L 肺(PUL)</option>
                             <option value="B">B 骨髄(MAR)</option>
                             <option value="K">K 骨(OSS)</option>
                             <option value="P">P 胸膜(PLE)</option>
                             <option value="H">H 脳(BRA)</option>
                             <option value="M">M 髄膜(MEN)</option>
                             <option value="HEP">HEP 肝転移</option>
                             <option value="A">A 副腎転移(ADR)</option>
                             <option value="CY">CY 腹腔洗浄細胞診(cy+)</option>
                             <option value="PER">PER 腹膜転移</option>
                             <option value="O">O その他(OTH)</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="remote_metapart3" value="<%=@user.remote_metapart3%>">
                             <option value="#"></option>
                             <option value="N">N リンパ節(LYM)</option>
                             <option value="S">S 皮膚(SKI)</option>
                             <option value="L">L 肺(PUL)</option>
                             <option value="B">B 骨髄(MAR)</option>
                             <option value="K">K 骨(OSS)</option>
                             <option value="P">P 胸膜(PLE)</option>
                             <option value="H">H 脳(BRA)</option>
                             <option value="M">M 髄膜(MEN)</option>
                             <option value="HEP">HEP 肝転移</option>
                             <option value="A">A 副腎転移(ADR)</option>
                             <option value="CY">CY 腹腔洗浄細胞診(cy+)</option>
                             <option value="PER">PER 腹膜転移</option>
                             <option value="O">O その他(OTH)</option>
                             <option value="XX">XX 不明</option>
                         </select>
                         <select name="remote_metapart4" value="<%=@user.remote_metapart4%>">
                             <option value="#"></option>
                             <option value="N">N リンパ節(LYM)</option>
                             <option value="S">S 皮膚(SKI)</option>
                             <option value="L">L 肺(PUL)</option>
                             <option value="B">B 骨髄(MAR)</option>
                             <option value="K">K 骨(OSS)</option>
                             <option value="P">P 胸膜(PLE)</option>
                             <option value="H">H 脳(BRA)</option>
                             <option value="M">M 髄膜(MEN)</option>
                             <option value="HEP">HEP 肝転移</option>
                             <option value="A">A 副腎転移(ADR)</option>
                             <option value="CY">CY 腹腔洗浄細胞診(cy+)</option>
                             <option value="PER">PER 腹膜転移</option>
                             <option value="O">O その他(OTH)</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                     <th rowspan="2">遠隔部位整理</th>
                 </tr>
                 <tr>
                     <td colspan="4"><input type="text" name="ennkakutennibui2"></td>
                 </tr>
                 <tr>
                     <th>近位断端<br>(総合所見の近位(口側)切除断端における癌浸潤の有無)</th>
                     <td>
                         <select name="pro_stump" value="<%=@user.pro_stump%>">
                             <option value="#"></option>
                             <option value="PM0">PM0 PM(-) 近位断端陰性</option>
                             <option value="PM1">PM1 PM(+) 近位断端陽性</option>
                             <option value="PMX">PMX PMX(不明)</option>
                         </select>
                     </td>
                     <th>遠位断端<br>(総合所見の遠位(肛側)切除断端における癌浸潤の有無)</th>
                     <td colspan="4">
                         <select name="dis_stump" value="<%=@user.dis_stump%>">
                             <option value="#"></option>
                             <option value="DM0">DM0 DM(-) 遠位断端陰性</option>
                             <option value="DM1">DM1 DM(+) 遠位断端陽性</option>
                             <option value="DMX">DMX DMX(不明)</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <th>腫瘍の遺残</th>
                     <td colspan="6">
                         <select name="resi_tumour" value="<%=@user.resi_tumour%>">
                             <option value="#"></option>
                             <option value="R0">R0 癌の遺残がない</option>
                             <option value="R1">R1 癌の顕微鏡的遺残がある</option>
                             <option value="R2">R2 癌の内眼的遺残がある</option>
                             <option value="RX">RX 癌の遺残が評価できない</option>
                             <option value="XX">XX 不明</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <td colspan="7"><input type="text" name="blank4"><input type="reset" value="×"></td>
                 </tr>
                 <tr>
                 　  <th>総合</th>
                     <th>T</th>
                     <td><input type="text" name="t" value="<%=@user.t%>"><input type="reset" value="×"></td>
                     <th>N</th>
                     <td><input type="text" name="n" value="<%=@user.n%>"><input type="reset" value="×"></td>
                     <th>M</th>
                     <td><input type="text" name="m" value="<%=@user.m%>" ><input type="reset" value="×"></td>
                 </tr>
                 <tr>
                     <th>stage</th>
                     <td colspan="6"><input type="text" name="stage" value="<%=@user.stage%>"><input type="reset" value="×"></td>
                 </tr>
                 <tr>
                     <td colspan="7"><input type="text" name="blank5"><input type="reset" value="×"></td>
                 </tr>
               
                 
             </body>
           
         </table>
         <%=submit_tag("登録")%>
               
<% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
    <% end %>
     </div>
 </body>
 <% end %>